.hidden {
    display: none !important;
    visibility: hidden;
    transition: all .4s;
}

#utilities {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    /* only manually resize */
    white-space: nowrap;
    width: 100%;
    background-color: #eee;
    justify-content: space-between;
}

#utilities > div {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.userMenu {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
    transition-property: display, visibility;
    transition-duration: .4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;
    background-color: rgba(238, 238, 238, 1);
    width: 570px;
}

.userDataUtilityMenu {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
    transition-property: display, visibility;
    transition-duration: .4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;
    background-color: rgba(238, 238, 238, 1);
    width: 640px;
}

#userDataUtilityScrollAreaDiv { /* scroll div container */
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 500px;
}

#userDataUtilityActionMenuButton {
    width: 92.63px !important;
}

#userDataUtilityActionMenu {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    visibility: visible;
    transition-property: display, visibility;
    transition-duration: .4s;
    opacity: 1;
    width: 92.63px;
    background-color: rgba(238, 238, 238, 1);
}

.outside0 { width: 16px; } .inside0 { width: 174px; }
.outside1 { width: 32px; } .inside1 { width: 159px; }
.outside2 { width: 48px; } .inside2 { width: 143px; }
.outside3 { width: 64px; } .inside3 { width: 126px; }

.collapsed tr:not(:first-of-type):not(:last-of-type) { display: none; }

#userDataUtilityScrollAreaDiv table { /* record */
    padding: 5px;
    font-size: 14px;
    text-align: left;
    width: 593px;
}

#userDataUtilityScrollAreaDiv table tr:first-of-type td:not(:first-of-type) {
    border-top: 1px solid black;
}

#userDataUtilityScrollAreaDiv table tr:last-of-type td:not(:first-of-type) {
    border-bottom: 1px solid black;
}

#userDataUtilityScrollAreaDiv tr > td { /* Record button column, width assigned by .outside# */
    text-align: right;
}

#userDataUtilityScrollAreaDiv tr td:nth-child(2) { /* Label column, width assigned by .inside# */
    border-left: 1px solid black;
    text-align: right;
}

#userDataUtilityScrollAreaDiv tr td:nth-child(3) { /* User value column */
    text-align: left;
    width: 180px;
}

#userDataUtilityScrollAreaDiv tr td:nth-child(4) { /* User Select column */
    text-align: center;
    border-right: 1px dotted black;
    width: 16px;
}

#userDataUtilityScrollAreaDiv tr td:nth-child(5) { /* Imported value column */
    text-align: left;
    width: 180px;
}

#userDataUtilityScrollAreaDiv tr td:nth-child(6) { /* Imported select column */
    text-align: center;
    border-right: 1px solid black;
    width: 16px;
}

#userDataLoadDiv {
    z-index: 3;
    position: absolute;
    display: flex;
}

.userMenu > div > div:nth-of-type(2) {
    text-align: center;
    vertical-align: middle;
    border: 1px;
}

.userMenu > div > div:nth-of-type(3) {
    text-align: center;
    vertical-align: middle;
    border: 1px;
}

#settingsDivMessages {
    text-align: center;
    background-color:rgba(162, 0, 0, 0.64)
}

#settingsDivAction {
    text-align: center;
}

#settingsDivOptions {
    text-align: center;
}

.utilityMenu {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
    max-height: 200px;
    background-color: #eee;
    transition-property: display, visibility;
    transition-duration: .4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    opacity: 1;
}

.utilityMenu > div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    overflow-y: auto;
    background-color: #eee;
    opacity: 1;
}

#infoUtilityWindow {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
    transition-property: display, visibility;
    transition-duration: .4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;
    background-color: rgba(238, 238, 238, 1);
    width: 100%;
    text-align: center;
    white-space: normal;
}

#infoUtilityWindow div {
    padding: 1px;
}

#infoUtilityWindow > div:nth-child(3) {
    display: flex;
    flex-direction: row;
}

#infoUtility_prev, #infoUtility_next {
    margin-top: auto;
    margin-bottom: auto;
    width: 52px !important;
    visibility: visible;
    background-color: rgba(238, 238, 238, 0);
}

#infoUtilityWindow .btn-group-sm {
    display: flex !important;
    flex-direction: column !important;
    flex: 0 0 auto;
}

#infoUtility_path {
    text-align: center;
}

#infoUtility_media {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#infoUtility_media div {
    height: 100%;
    width: 100% !important;
}

#infoUtility_media div table {
    margin-left: auto;
    margin-right: auto;
}

#infoUtility_media div table th, #infoUtility_media div table td {
    padding: 5px;
}

#infoUtility_media img {
    max-width: 40vw;
    max-height: 60vh;
    height: auto;
}

#infoUtility_media ol,ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

#infoUtility_footer {
    z-index: 3;
    position: absolute !important;
    display: flex;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
    background-color: rgba(238, 238, 238, 1);
    text-align: center;
    white-space: normal;
}

#infoUtility_footer_content {
    z-index: 3;
    position: absolute !important;
    display: flex;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
    background-color: rgba(238, 238, 238, 1);
    text-align: center;
    white-space: normal;
}



.btn-group-sm {
    display: flex !important;
    flex-direction: row !important;
    flex: 0 0 auto;
}

.utilityMenu > div > div > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#cursor {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0%{     color: #000;      }
    49%{    color: #000;      }
    60%{    color: transparent; }
    99%{    color: transparent; }
    100%{   color: #000;      }
}

#lines {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    height: 368px;
    overflow-y: auto;
    background-color: #eee;
}

#lines div {
    display: flex;
    flex: 0 0 auto;
    padding: 0px 5px 0px 5px;
    justify-content: start;
    width: auto;
    height: 46px !important;
    flex-wrap: wrap;
    vertical-align: middle;
}

#buttonsNav {
    display: flex;
    overflow-y: auto;
    height: auto;
}

#buttons {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    height: auto;
}

.container-fluid > button {
    padding-left: -15px;
}

button {
    padding: 2px;
    outline: none !important;
}

button:focus {
    outline: none !important;
}