.hidden {
    display: none;
    visibility: hidden;
    transition: all .4s;
}

#utilities {
    display: flex;
    flex: 0 0 auto;
    /* only manually resize */
    white-space: nowrap;
    width: 100%;
    background-color: #eee;
    justify-content: space-between;
}

.popUpMenu {
    z-index: 1;
    position: absolute;
    display: block;
    visibility: visible;
    max-height: 200px;
    transition-property: display, visibility;
    transition-duration: .4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.popUpMenu > div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    overflow-y: auto;
}

.popUpMenu > div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    overflow-y: auto;
    background-color: #eee;
}

.popUpMenu > div > div > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#cursor {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0%{     color: #000;      }
    49%{    color: #000;      }
    60%{    color: transparent; }
    99%{    color: transparent; }
    100%{   color: #000;      }
}

#lines {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    height: 368px;
    overflow-y: auto;
    background-color: #eee;
}

#lines div {
    display: flex;
    flex: 0 0 auto;
    padding: 0px 5px 0px 5px;
    justify-content: start;
    width: auto;
    height: 46px !important;
    flex-wrap: wrap;
    vertical-align: middle;
}

#buttonsNav {
    display: flex;
    overflow-y: auto;
    height: auto;
}

#buttons {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    height: auto;
}

button {
    padding: 2px;
    outline: none !important;
}

button:focus {
    outline: none !important;
}